article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* My styles here */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  background-color: #0B132B;
  color: #0B132B;
}

h1 {
  color: #F5F5F5;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  font-size: 5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

ul {
  padding: 0;
  list-style: none;
}

form {
  border: 4px solid #f96900;
  padding: 20px;
  background-color: #f8c4ff;
  font-size: 2rem;
}

form,
button,
input,
.words-container {
  border-radius: 20px;
}

label, input {
  padding: 10px;
}

.word-count {
  font-weight: 700;
}

label {
  -webkit-box-flex: 1;
      -ms-flex: 1 2 30%;
          flex: 1 2 30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 2px;
}

input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  margin: 10px 0;
  background-color: #F5F5F5;
}

input,
button {
  border: none;
  -webkit-box-shadow: 2px 2px 2px #f96900;
          box-shadow: 2px 2px 2px #f96900;
}

button {
  background-color: #630070;
  color: #F5F5F5;
  padding: 10px;
  margin-top: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  text-transform: capitalize;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

footer {
  color: #F5F5F5;
  text-align: center;
  padding: 3px;
  margin-top: 50px;
}

.err-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #e20000;
}

.err-container p {
  margin: 0;
}

.wrapper {
  width: 95%;
  max-width: 700px;
  margin: 0 auto;
}

.form-header {
  text-align: center;
  border-bottom: 2px solid #f96900;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.form-header h2 {
  margin: 0;
}

.form-header p {
  margin-bottom: 0;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.buttons-container, .result-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.new-game-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.new-game-container button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

.result-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F5F5F5;
  font-weight: 700;
  font-size: 2rem;
  padding: 0 20px;
  margin-bottom: 10px;
  border-radius: 50px;
  border: 4px solid #f96900;
}

.result-container .result {
  margin-right: 20px;
}

.hide-section {
  visibility: hidden;
  height: 0;
}

.show-section {
  visibility: visible;
  height: auto;
}

.correctAnswer {
  background-color: yellowgreen;
}

.wrongAnswer {
  background-color: #e20000;
}

.disable {
  background-color: #f8c4ff;
}

.disable:hover {
  background-color: inherit;
}

.words-container {
  border: 4px solid #f96900;
  background-color: #f8c4ff;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.words-container .word-count-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.words-container .word-count-container h2 {
  margin: 20px 0 0 0;
}

.words-container .word-count-container p {
  width: 40px;
  height: 40px;
  background-color: #630070;
  color: #F5F5F5;
  border-radius: 50%;
  border: 2px solid #f96900;
  text-align: center;
  padding-top: 8px;
  position: relative;
  bottom: 10px;
}

.words-container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
}

.words-container li p {
  line-height: 2.5;
  margin: 0;
  padding-left: 20px;
}

.words-container .list-item {
  border-bottom: 1px dotted #f96900;
}

.words-container i {
  font-size: 2.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: red;
  background-color: #F5F5F5;
  border: 2px solid #F5F5F5;
  border-radius: 50%;
  margin-right: 20px;
}

@media (min-width: 620px) {
  button:hover,
  button:focus {
    background-color: #f96900;
  }
  a:hover,
  a:focus {
    color: #f96900;
    text-decoration: underline;
  }
}
