
/* My styles here */

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    background-color: $dark-color;
    color: $dark-color;
}

h1{
    color: $light-color;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

ul{
    padding: 0;
    list-style: none;
}

form{
    border: 4px solid $primary-accent;
    padding: 20px;
    background-color: $primary-color;
    font-size: 2rem;
}

form,
button,
input,
.words-container{
    border-radius: 20px;
}

label, input{
    padding: 10px;
}

.word-count{
    font-weight: 700;
}

label{
    flex: 1 2 30%;
    align-self: center;
    padding-left: 2px;
}

input{
    flex: 1 1 70%;
    margin: 10px 0;
    background-color: $light-color;
}

input:active,
input:focus{
    border: 2px solid $primary-accent;
}

input,
button{
    border: none;
    box-shadow: 2px 2px 2px $primary-accent;
}

button{
    background-color: $secondary-color;
    color: $light-color;
    padding: 10px;
    margin-top: 10px;
    flex: 1 0 100%;
    text-transform: capitalize;
}

a{
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}


footer{
    color: $light-color;
    text-align: center;
    padding: 3px;
    margin-top: 50px;
}

.err-container{
    display: flex;
    justify-content: center;
    color: $err;
    p{
        margin:0;
    }
}

.wrapper{
    width: 95%;
    max-width: 700px;
    margin: 0 auto;
}

.form-header{
    text-align: center;
    border-bottom: 2px solid $primary-accent;
    margin-bottom: 40px;
    padding-bottom: 20px;
    h2{
        margin: 0;
    }

    p{
        margin-bottom: 0;
    }
}

.input-container{
    display: flex;
    flex-wrap: wrap;
}

.buttons-container, .result-container {
    display: flex;
    flex-wrap: wrap;
}



.new-game-container{
    display: flex;
    justify-content: space-between;
    flex: 1;

    button{
        flex: 0 1 48%;
    }
}

// form-2-container
.result-container{
    justify-content: space-between;
    background: $light-color;
    font-weight: 700;
    font-size: 2rem;
    padding: 0 20px;
    margin-bottom: 10px;
    border-radius: 50px;
    border: 4px solid $primary-accent;

    .result{
        margin-right: 20px;
    }
}

.hide-section {
    visibility: hidden;
    height: 0;
}

.show-section{
    visibility: visible;
    height: auto;
}

.correctAnswer{
    background-color: yellowgreen;
}

.wrongAnswer{
    background-color: $err;
}

.disable{
    background-color: $primary-color;
}

.disable:hover{
    background-color: inherit;
}

// "words-container styles
.words-container{
    border: 4px solid $primary-accent;
    background-color: $primary-color;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    .word-count-container{
        display: flex;
        justify-content: space-between;
        h2{
            margin: 20px 0 0 0;
        }        

        p{
            width: 40px;
            height: 40px;
            background-color: $secondary-color;
            color: $light-color;
            border-radius: 50%;
            border: 2px solid $primary-accent;
            text-align: center;
            padding-top: 8px;
            position: relative;
            bottom: 10px;
        }
    }
    li{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        font-weight: 600;
    }

    li p{
        line-height: 2.5;
        margin: 0;
        padding-left: 20px;
    }
    
    .list-item {
        border-bottom:1px dotted $primary-accent;
    }

    i{
        font-size: 2.5rem;
        align-self: center;
        color: red;
        background-color: $light-color;
        border:2px solid $light-color;
        border-radius: 50%;
        margin-right: 20px;
    }

}

@media (min-width: 620px){
    button:hover,
    button:focus{
        background-color: $primary-accent;
    }

    input:hover{
        border: 2px solid $primary-accent;
    }

    a:hover,
    a:focus{
        color: $primary-accent;
        text-decoration: underline;
    }
}