
/* My styles here */

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    background-color: $dark-color;
    color: $dark-color;
}

h1{
    color: $light-color;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

ul{
    padding: 0;
    list-style: none;
}

form{
    border: 4px solid $primary-accent;
    padding: 20px;
    background-color: $primary-color;
    font-size: 2rem;
}

form,
button,
input,
.words-container{
    border-radius: 20px;
}

label, input{
    padding: 10px;
}

.word-count{
    font-weight: 700;
}

label{
    flex: 1 2 30%;
    align-self: center;
    padding-left: 2px;
}

input{
    flex: 1 1 70%;
    margin: 10px 0;
    background-color: $light-color;
}

input,
button{
    box-shadow: 2px 2px 2px $primary-accent;
}

button{
    background-color: $secondary-color;
    padding: 10px;
    margin-top: 10px;
    flex: 1 0 100%
}

.wrapper{
    width: 95%;
    max-width: 700px;
    margin: 0 auto;
}

.input-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.buttons-container, .result-container {
    display: flex;
    flex-wrap: wrap;
}

// form-2-container
.result-container{
    justify-content: space-between;
}

.form-2-container{
    // display: none;
}

// "words-container styles
.words-container{
    border: 4px solid $primary-accent;
    background-color: $primary-color;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    .word-count-container{
        display: flex;
        justify-content: space-between;
        h2{
            margin: 20px 0 0 0;
        }

        p{
            width: 40px;
            height: 40px;
            background-color: $secondary-color;
            border-radius: 50%;
            border: 2px solid $primary-accent;
            text-align: center;
            padding-top: 8px;
            position: relative;
            bottom: 10px;
        }
    }
    li{
        display: flex;
        justify-content: space-between;
        font-weight: 600;
    }

    li p{
        line-height: 2.5;
        margin: 0;
        padding-left: 20px;
    }
    
    li:nth-child(odd) {
        background-color: $primary-accent;
    }

    i{
        font-size: 2.5rem;
        align-self: center;
        color: red;
        background-color: $light-color;
        border:2px solid $light-color;
        border-radius: 50%;
        margin-right: 20px;
    }

}
